
*{
    font-family: Helvetica,Arial,  sans-serif;
}
body {
    padding: 60px;
}
input{
    color: greenyellow;
    font-size: 1.2rm;
    width: 100%;
} 
.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    align-content: center;
    border: 1px solid grey ;
    border-radius: 6px;
    margin-right: 170px;
    margin-bottom: 30px;
    overflow: 10px;
    
}
.card{
    padding: 5px;
}
.card img{
max-height: 170px;
}